streamlit
langchain_core
langchain_community
langchain_ollama
pdfplumber
langchain-openai
langchain
python-dotenv
langchain_community
langchain-groq
streamlit
langchain-ollama
PyPDF
langchain-huggingface
faiss-cpu
langchain-chroma
pytest-shutil
flask
flask_cors
gunicorn
langchain_groq